<div class="container">

  <div class="superman">
    <a class="superheroe" href="<%= pages_superman_url %>">Superman</a>
    <%=image_tag("superman.jpg", class:"img-responsive")%>

    <div class="form-superman">
      <form action="<%= pages_save_votesuperman_path %>" method="POST">
      <input placeholder="nombre" type="text" name="name" value="">
      <input placeholder="email" type="email" name="email" value="">
      <input type="submit" name="enviar" value="enviar">
      </form>
    </div>

  </div>
  <div class="batman">
    <a class="superheroe" href="<%= pages_batman_url %>">Batman</a>
    <%=image_tag("batman.jpg", class:"img-responsive")%>

    <div class="form-batman">
      <form action="<%= pages_save_votebatman_path %>" method="POST">
      <input placeholder="nombre" type="text" name="name" value="">
      <input placeholder="nombre" type="email" name="email" value="">
      <input type="submit" name="enviar" value="enviar">
      </form>
    </div>

  </div>

  <%=flash[:notice]%>

</div>